# Node modules & builds
node_modules/
dist/
build/
.vite/

# Env & Local secrets
.env
.env.production
.env.local

# Storage local data
data_store.json

# Excluir pastas duplicadas e zips
ARCKATECH/
ARCKATECH.zip

# OS & IDE
.DS_Store
.vscode/
.idea/
*.log
